.text-custom-secondary {
    color: rgba(102, 112, 133, 1);
}

.accordian-content {
    display: none;
}

.accordian-icon-img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.img-30px {
    width: 30px;
    height: 30px;
}

.rounded-inherit {
    border-radius: inherit;
}

.max-w-300px {
    max-width: 300px;
}

.w-50px {
    width: 50px;
}

.min-w-200px {
    min-width: 200px;
}

.max-w-1200px {
    max-width: 1200px;
}

.max-h-500px {
    max-height: 500px;
}

.text-12px {
    font-size: 12px;
}

.accordian-shadow {
    box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #EAEAEA !important;
}

.bg-search-btn {
    background-color: var(--sky);
}

.bg-contact-info {
    background-color: #222222;
}

.bg-contactus {
    background-color: #F4F4F4;
}

.c-info-link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.icon-60px {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.icon-40px {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.crneinput {
    padding: 8px 16px;
    width: 100%;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    font-size: 14px;
}

.btn-submit {
    color: #fff;
    background-color: rgba(6, 64, 216, 1);
    padding: 8px 16px;
    border: 1px solid rgba(6, 64, 216, 1);
}

.search-topics {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 220px;
}

.topics-lists {
    margin-top: 16px;
}

.topics-lists li {
    padding: 4px 0;
}

.topics-lists .topics-link {
    text-decoration: none;
    color: rgba(93, 114, 133, 1);
    font-size: 14px;
}

.topics-lists .topics-link.active {
    color: rgba(0, 63, 219, 1);
}

.topics-lists li::marker {
    font-size: 8px;
}

.blue-btn {
    background-color: #1a83f5;
    color: #fff;
    text-decoration: none;
}

.h-input {
    height: 36px;
}

.import-btn {
    color: #000000;
    text-decoration: none;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 8px;
}

.accounts-div {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 100%;
    max-width: 768px;
}

.opportunityModal .modal-dialog {
    width: 100%;
    max-width: 900px;
}

.opportunityModal .modal-content {
    margin: 12px;
}

@media screen and (max-width: 768px) {
    .max-w-300px {
        max-width: 100%;
    }

    .icon-60px {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
}

@media screen and (max-width:576px) {
    .search-topics-left {
        padding: 0;
        display: none;
        position: absolute;
        z-index: 8;
        width: fit-content;
        box-shadow: var();
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        border-radius: 16px;
        overflow: hidden;
    }
}

@media screen and (min-width:576px) {
    .w-sm-auto {
        width: auto !important;
    }
}