.midbrdr{
    border-left: solid 1px #DDDDDD;
    border-right: solid 1px #DDDDDD;
}
.cardhight{
    height: 300px;
}

.setpperlabel{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #ECF1FF;
}
.stepperlogow{
    width: 100%;
    max-width: 200px;
}
.step {
    display: none;
}

.step.active {
    display: block;
}

.stepper-buttons {
    margin-top: 20px;
}

.booking-btn button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.booking-btn button[disabled] {
    background-color: #cccccc;
}

/* Progress Bar Styling */
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #003FDB;
    transition: width 0.3s ease;
}
#prevDateBtn{
    background-color: #ECF1FF;
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
}
#nextDateBtn{
    background-color: #ECF1FF;
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
}
#dateContainer{
    background-color: #ECF1FF;
    border-radius: 8px;
}
.date-item {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.date-item {
    color: #007bff;
    opacity: 0.3;
}
.date-item.active {
    color: #007bff;
    opacity: 1;
}

.time-item {
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    border: solid 1px #0000004D;
    padding: 15px;
    font-weight: 600;
}
.time-item.active {
    background-color: #fff;
    color: #007bff;
    border: solid 1px #007bff;

}


.side-bg {
    background-color: #F6F6F6;
    border-radius: 5px;
}

.topside {
    background-color: #ECF1FF;
    padding: 15px;
    border-radius: 5px;
}

.bottomitem {
    display: flex;
    align-items: center;
    padding:20px 15px;
    border-bottom: dashed 1px #0000004D;
}

.bottomitem img {
    width: 40px;
    height: 40px;
    margin-right: 10px;

}
.hght{
    height: calc(100dvh - 215px);
}
.dvh-100{
    height: 100dvh;
}
.custominput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #D4D7E3;
    padding: 15px;
    border-radius: 10px;
    background-color: #F7FBFF;
    width: 100%;
    max-width: 400px;
}
.custominput input{
    width: 520px !important;
}
.nextbtn{
    width:100%;
    font-weight: 600;
    max-width: 220px;
    border-radius: 100px;
    background-color:#003FDB ;
}
.prevBtn{
    background-color: transparent !important;
}

.booking-btn .checkbox-wrapper-23 *,
.booking-btn .checkbox-wrapper-23 *:after,
.booking-btn .checkbox-wrapper-23 *:before {
  box-sizing: border-box;
}

.booking-btn .checkbox-wrapper-23 input {
  position: absolute;
  opacity: 0;
}
  
.booking-btn .checkbox-wrapper-23 input:checked + label svg path {
  stroke-dashoffset: 0;
}
  
.booking-btn .checkbox-wrapper-23 input:focus + label {
  transform: scale(1.03);
}

.booking-btn .checkbox-wrapper-23 input + label {
  display: block;
  border: 2px solid #D4D7E3;
  width: var(--size);
  height: var(--size);
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease;
}
  
.booking-btn .checkbox-wrapper-23 input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}
  
.booking-btn .checkbox-wrapper-23 input + label svg {
  pointer-events: none;
  padding: 5%;
}

.booking-btn .checkbox-wrapper-23 input + label svg path {      
  fill: none;     
  stroke: #333;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1,0,.37,.91);
}

.repair-logo {
    max-width: 300px;
}

.max-100 {
    max-width: 100% !important;
}

.uploadbtn2{
    display: flex;
    align-items: center;
}
.uploadbtn2a{
    background-color: #003FDB;
    color:#fff;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 20px;
    margin-right: 10px;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tag {
    background-color: #003FDB;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px;
}
.tag .remove-tag {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}
#tag:focus {
    outline: none;
    border: none;
    background: #fff;
}
.accordion{
    --bs-accordion-btn-icon-width:13px !important;
}
@media screen and (max-width: 400px) {
    .date-item {
        font-size: 12px;
        padding: 10px 6px;
    }
    #nextDateBtn,
    #prevDateBtn {
        padding: 10px 10px;
    }
    #nextDateBtn img,
    #prevDateBtn img {
        width: 10px;
        display: flex;
        align-items: center;
    }
}